* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
}

.list li {
  margin: 10px;
}
