@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: "Poppins";
  background-color: #4a11a6;
}

.header {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 69px;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
