.content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content ul li {
  list-style-type: none;
  margin-top: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 277px;
  height: 348px;
  background: #6111e1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 17px;
  transition: all .3s ease-in-out;
}

.container:hover{
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}